/** Your theme modifications here **/
.hotlist-btn{
	margin-bottom: 5px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.bcWrapper{
	margin-bottom: 10px;
	background-color: rgb(240,240,240);
}

.ui-breadcrumb ul li a.ui-icon-home, .ui-breadcrumb-chevron {
	margin-top:3px;
}

.ui-breadcrumb ul li .ui-menuitem-link {
	text-decoration: none;
	margin-top:0;
	color: rgb(188,54,4);
}

.itemPrice {
	display: inline-block;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 13px;
  font-style: normal;
   margin-left: 5px;
}